
<section class="banner bg-grey">
<div class="container section-1">
    <div class="row align-items-center">
        <div class="col-md-6 order-md-1 order-1 pl-5">
            <div class="banner-content">
                <span class="sub-heading">
                    Leran Software
                </span>
                <h2 class="text-white my-4">Getting a Software Job is So Easy Now with our IT Internship Programs.</h2>
                <p>Learn programming from Kerala's most trusted software training company with
                    the highest placement record. Enroll in software courses and internship programs
                    in Python, Flutter, Angular and PHP to start your career.</p>
                    <button class="btn btn-main text-white" type="button">out course</button>
            </div>
        </div>
        <div class="col-md-6  order-md-2 order-2 mb-md-0 mb-5">
            <div class="banner-img">
                <img src="assets/image/main.png" alt="babtraimg" height="90%" width="85%" class="ml-2 image-fluid">
            </div>
        </div>

    </div>
    
</div>
</section>
<section class="box-section mx-5">
<div class="container section-2 ">
    <div class="row align-items-center smll d-flex px-5 py-5">

            <div class="col-lg-2 "><img class="logoimg ml-5" src="assets/image/Oray-Logo.png" alt=""></div>
            <div class="col-lg-6 ">
                <div class="section-heading text-white">
                    <span class="sub-heading">&nbsp;We are affiliated with</span><br>
                    <h2>Oray Education London, UK</h2>
                </div>
            </div>
            <div class="col-lg-4"> <div class="ml-2"><button class="btn btn-main-2 butn-2">Download Brochure</button></div>
            </div>
    
    </div>
</div>
</section>

