<header>
<nav class="navbar navbar-expand-lg navbar-light nav-tp ">
    <div class="container">
    <div class="navbar-header d-flex">
    <a class="navbar-brand" href="#">
        <img src="assets/image/logo.png" width="200" height="100" alt="baabtra" class="img-fluid text-white mx-5">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-5">
          <li class="nav-item active ml-5">
            <a class="nav-link text-white" href="#">Program <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link text-white" href="#">Placement</a>
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link text-white" href="#">About Us</a>
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link text-white">Blog</a>
          </li>
          <li class="nav-item ml-5">
            <a class="nav-link text-white">Gallery</a>
          </li>
        </ul>
        <button class="btn btn-main ml-5 text-white" type="button">Enquire Now</button>
      </div>
      
    </div>
   </div>
</nav>
</header>



