<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-lg-right text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text">
                <h5 class="text-uppercase mb-4 font-weight-bold text-color">About Us</h5>
                <p>Baabtra, the best software training company in Calicut has proved its expertise by training and placing several hundreds of students both in MNC’s like UST Global, Infosys, Oracle etc and SME’s like Nucore Software Solutions, Sesame, IOSS, ULTS.</p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text">
                <h5 class="text-uppercase mb-4 font-weight-bold text-color">company </h5>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">About us</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Placements</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Testimonials</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Gallery</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Contact us</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text">
                <h5 class="text-uppercase mb-4 font-weight-bold text-color">course</h5>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Python</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Flutter</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Angular</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">PHP</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">java</a>
                </p>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text">
                <h5 class="text-uppercase mb-4 font-weight-bold text-color">contact</h5>
                <p>
                    <i class="fas fa-home mr-3"></i>CAFIT Square, HiLite Business Park, Calicut, Kerala.
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>info@baabtra.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i>+91 859 205 8444
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i>+91 88 23 45 666
                </p>

            </div>
        </div>
    </div>
</footer>



