<div class="team placement-section bg-grey mt-5">
    <div class="container">
        <div class="row align-items-center" >
            <div class="col-lg-6 ">
                <div class="heading ml-4">
                    <span class="sub-heading">The Success Stories</span>
                    <h1>Placed Candidates</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="placement-btn text-lg-right ml-5">
                <a href="#"><button class="btn btn-main  text-white d-flex "><i class="fa-solid fa-user"></i><h3>&nbsp;&nbsp; placement</h3></button></a>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="box-group d-flex mt-5">
                <div class="col-md-3">
                    <div class="col mb-4">
                        <div class="card">
                          <img src="assets/image/111.jpg" class="card-img-top" alt="..." width="260" height="270">
                          <div class="card-body align-items-center">
                            <h5 class="card-title">Vishnu Lekshman</h5>
                            <p class="card-text">Full Stack Developer <br>QIZO</p>
                        </div>
                    </div>
                  </div>  
                </div>
                <div class="col-md-3">
                    <div class="col mb-4">
                        <div class="card">
                          <img src="assets/image/person4.jpg" class="card-img-top" alt="..."  width="260" height="270">
                          <div class="card-body">
                            <h5 class="card-title">Vishnu Lekshman</h5>
                            <p class="card-text">Full Stack Developer <br>QIZO</p>
                        </div>
                    </div>
                  </div>  
                </div>
                <div class="col-md-3">
                    <div class="col mb-4">
                        <div class="card">
                          <img src="assets/image/person3.jpg" class="card-img-top" alt="..."  width="260" height="270">
                          <div class="card-body">
                            <h5 class="card-title">Vishnu Lekshman</h5>
                            <p class="card-text">Full Stack Developer <br>QIZO</p>
                        </div>
                    </div>
                  </div>  
                </div>
                <div class="col-md-3">
                    <div class="col mb-4">
                        <div class="card">
                          <img src="assets/image/person1.jpg" class="card-img-top" alt="..." width="260" height="270">
                          <div class="card-body">
                            <h5 class="card-title">Vishnu Lekshman</h5>
                            <p class="card-text">Full Stack Developer <br>QIZO</p>
                        </div>
                    </div>
                  </div>  
                </div> 


            </div>

        </div>
    </div>

</div>
