<div class="banner2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="banner-content center-heading">
                    <span class="sub-heading pb-3">Expertise in Education</span>
                    <h2>Ed-tech company with 11 years of industry leadership in training
                        and placements, holding highest number of placement track in Malabar.</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="shadow d-flex justify-content-center align-items-center  p-3 rounded-lg flex-column">
                    <div class="person-img ">
                        
                        <img src="assets/image/py.png" alt="" width="30%" height="30%" class="mx-5 my-5 image-fluide align-items-center img">
                    </div>
                    <div class="person-name my2">
                        <h2 class="text-dark">Python Training</h2>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="shadow d-flex justify-content-center align-items-center p-3 rounded-lg flex-column">
                    <div class="person-img">
                        
                        <img src="assets/image/flutr.png" alt="" width="30%" height="30%" class="mx-5 my-5 image-fluide align-items-center img">
                    </div>
                    <div class="person-name my2">
                        <h2 class="text-dark">Flutter Training</h2>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="shadow d-flex justify-content-center align-items-center p-3 rounded-lg flex-column">
                    <div class="person-img ">
                        
                        <img src="assets/image/angular.png"alt="" width="30%" height="30%" class="mx-5 my-5 image-fluide align-items-center img">
                    </div>
                    <div class="person-name  my2">
                        <h2 class="text-dark">Angular Training</h2>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="shadow d-flex justify-content-center align-items-center p-3 rounded-lg flex-column">
                    <div class="person-img ">
                        
                        <img src="assets/image/pp.png" alt=""  width="30%" height="30%" class="mx-5 my-5 image-fluide align-items-center img">
                    </div>
                    <div class="person-name my2">
                        <h2 class="text-dark">PHP Training</h2>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
   
</div>
